body {
  padding: 0px;
  margin: 0px;

  /* variables */
  --signaturewhite: #fafafa;
  --navy: #151824;
  --mediumblue: #2596be;
  --paleblue: #cbebec;
  --limegreen: #5bd735;

  --title-font: "SixtyFour", monospace;
  --body-font: "Lora", serif;
}

nav {
  /* flex properties */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  /* height: 10%; */

  /* colour */
  background-color: var(--navy);
  color: var(--signaturewhite);

  /* margin & padding */
}

.nav-item {
  font-family: var(--body-font);
  height: 100%;
  font-size: 1.1em;
}

.nav-btn {
  color: var(--signaturewhite);
  font-family: var(--body-font);
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.1em;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--navy);
  border: none;
  transition: 0.2s;
}

.nav-btn:hover {
  color: var(--navy);
  background-color: var(--signaturewhite);
}

img {
  border-radius: 36px;
}

h1 {
  font-family: var(--title-font);
  font-size: 3em;
  color: var(--navy);
}

p {
  font-family: var(--body-font);
  font-size: 1.5em;
  color: var(--navy);
}

a {
  text-decoration: none;
}

/* Title page */

#title-img {
  width: 200px;
}

#titlepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-image: url(media/title-gradient-bg.png);

  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

#title-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  margin-left: 2.5%;
  margin-right: 2.5%;

  flex: 6;
}

#title-img {
  /* size: 50vh; */
  border-radius: 36px;
  min-height: 2em;

  margin-left: 5%;
  margin-right: 5%;
  flex: 4;
}
