body {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* background: radial-gradient(
    #9d9c9c 20%,
    transparent 21%,
    transparent 79%,
    #c0c0c0 80%
  );
  background-size: 1em 1em;
  background-color: #ffffff;
  opacity: 1; */
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
